<div class="login-register-wrapper section-padding">
    <div class="container">
        <div class="member-area-from-wrap">
            <div class="row justify-content-center">
                <!-- Login Content Start -->
                <div class="col-6">
                    <div class="login-reg-form-wrap">
                        <h2>Forgot Password?</h2>
                        <form method="post">
                            <div class="single-input-item">
                                <label>Email</label>
                                <input name="email" type="email" placeholder="Enter your email" />
                                <span class="text-danger">@Html.ValidationMessage("email")</span>
                            </div>
                            <div class="single-input-item">
                                <button type="submit" class="btn">Send Verification Email</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>