@model ResetPaswordVM
@{
    ViewData["Title"] = "Reset Password";
}
<div class="login-register-wrapper section-padding">
    <div class="container">
        <div class="member-area-from-wrap">
            <div class="row justify-content-center">
                <!-- Login Content Start -->
                <div class="col-6">
                    <div class="login-reg-form-wrap">
                        <h2>Reset Password</h2>
                        <form method="post">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <div class="single-input-item">
                                <label>Password</label>
                                <input asp-for="Password">
                                <span class="text-danger" asp asp-validation-for="Password"></span>
                            </div>
                            <div class="single-input-item">
                                <label>Repeat Password</label>
                                <input asp-for="RepeatPassword">
                                <span class="text-danger" asp asp-validation-for="RepeatPassword"></span>
                            </div>
                            <div class="single-input-item">
                                <button type="submit" class="btn">Send Verification Email</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name"_ValidationScriptsPartial">
}